 

.screen {
    background-size: cover;
    background-position: center;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 40px;
}

@media (min-width: 600px) {
    .screen {
        background: url("/images/BG5.PNG");
        background-size: cover;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 50px;
    }
}

.container {}

@media (min-width: 600px) {
    .container {
        max-width: 350px;
    
}}